//colors
$white: #FFF;
$isabelline: #ECECEC;
$ligth-gray: #D1D1D1;
$smooky-black: #0C0910;
$granite-gray: #646266;
$quick-silver: #A6A5A8;

//fuentes
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&family=Raleway:wght@400;700&display=swap');

//Tipografías
$primary-fonts: 'Raleway';
$secondary-fonts: 'Old Standard TT';

//Pesos tipográficos
$weigth-font-regular: 400;
$weigth-font-bold: 700;

//Tamaños tipográficos
$font-xxx-large: 50px;
$font-xx-large: 30px;
$font-x-large: 20px;
$font-large:18px;
$font-medium: 16px;
$font-small: 14px;
$font-x-small: 12px;

//breakpoints
$bp-sm-movil:576px;
$bp-md-tablet:768px;
$bp-lg-laptop:992px;
$bp-xl-desktop:1200px;

