.article{
    //Para centrar la caja texto dentro del div
    display: flex;
    align-items: center;

        &__cajaTexto{
            background-color: khaki;
            width: 80vw;
            height: 30vh;

            position: relative;
            left: 10vw;
        }

        &__h1{
            //Características del fuente
            letter-spacing: -1px;
            text-transform: uppercase; //todas las letras altas
            font-family: $secondary-fonts;
            font-weight: $weigth-font-bold;
            font-size: $font-xx-large;
        }

        &__texto{
            //Características del fuente
            font-family: $primary-fonts;
            font-weight: $weigth-font-regular;
            font-size: $font-large;
            color: $granite-gray;
            font-size: $font-x-small;
        }

        &__boton{
            width: 85px;
            height: auto;

            /*características de posición para que independiente dela cantidad de texto,
            el botón simpre se ubique en la parte inferior izquierda de la caja*/
            position: absolute;
            bottom: 0;
        }
}


 /////////////VERSION DE ESCRITORIO///////////////   
    @include respond-to($bp-xl-desktop){
        .article{
            &__cajaTexto{
                // background-color: khaki;
                width: 30vw;
                height: 47vh;
                position: relative;
                left: 6.6vw;
            }

            &__h1{
                font-size: $font-xxx-large;
            }
    
            &__texto{
                font-size: $font-large;
            }

            &__boton{
                width: 138px;
            }
        } 

    }