.footer{
        position: relative;
        display: flex;
        align-items: center;

                &__cajaFooter{
                        width: 228px;
                        height: 77px;
                        //background-color: lightcoral;
                        // position: absolute;
                        left: 31px;
                }
                
                &__newsletter{
                        font-family: $secondary-fonts;
                        font-weight: $weigth-font-bold;
                        color: $white;
                        font-size: $font-x-small;
                }

                &__cajaCorreoElectronicoFormulario{
                        //background-color: rgb(84, 85, 131);
                        // position: absolute;
                        bottom: 0;
                }
                
                &__correoElectronico{
                        font-family: $secondary-fonts;
                        font-weight: $weigth-font-bold;
                        font-size: $font-x-small;
                        color: $white;
                        margin:0;
                }
}

        @include respond-to($bp-xl-desktop){
                .footer{

                        &__cajaFooter{
                                width: 238px;
                                height: 102px;
                                //background-color: lightcoral;
                                position: absolute;
                                left: 80px;
                        }

                        &__cajaCorreoElectronicoFormulario{
                                //background-color: rgb(84, 85, 131);
                                position: absolute;
                                bottom: 0;
                        }






                }
                        
        }





/*
    .footer h4{
        font-family: $secondary-fonts;
        font-weight: $weigth-font-bold;
}

.footer p{
        font-family: $secondary-fonts;
        font-weight: $weigth-font-bold;
    }
*/    