.grilla{
    display: grid;
    height: 100vh;



    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.8fr 1fr 0.3fr;
    
    .navbar{
        // background-color: green;
        grid-column: span 4;
    }
    .header{
        background-color: yellow;
        grid-column: span 4;
    }

    .article{
        // background-color: pink;
        grid-column: span 4;
    }

    .footer{
        background-color: $smooky-black;
        background-color: royalblue;
        grid-column: span 3;

    }

    .suscribirse{
        background-color: burlywood;
        grid-column: span 1;

    }

    @include respond-to($bp-xl-desktop){

        grid-template-columns: 39vw 4vw 57vw;

        
        .navbar{
            // background-color: green;
            grid-column: 1/4;
        }
        .header{
            background-color: yellow;
            grid-column:  3/4;
            grid-row: 2/5;
        }
    
        .article{
            // background-color: pink;
            grid-column: 1/3;
            grid-row: 2/4;
        }
    
        .footer{
            background-color: $smooky-black;
            grid-column: 1/2;
        }
    
        .suscribirse{
            // background-color: burlywood;
            grid-column: 2/3;
        }
    }    
}