.navbar{
    background-color: $white;
    // background-color: red;

    font-family: $primary-fonts;
    font-weight: $weigth-font-bold;

    width: 100vw; //ancho del navbar en la pantalla.
    height: 9.4vh;

    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 7vw;
    position: relative;

    &__logo_xda{
        //para ubicar el div apegado a las orillas del contenerdor nav.
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;

        //medidas y color del div
        height: 100%;
        width: 9.1vh;
        background-color: $smooky-black;
        // display:inline-block;

        //características de la tipografía del logotipo
        color: $white;
        font-family: $secondary-fonts;
        font-weight: $weigth-font-bold;
        font-size: 2.5vh;

        //Para centrar el texto dentro del div
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// color de la tipografía de los links
.nav-link{
    color: $smooky-black;
}

        @include respond-to($bp-xl-desktop){
            .navbar{
                height: 11.4vh;
                padding-right: 56px;

                &__logo_xda{
                    font-size: $font-xx-large;
                    width: 12vh;

                }
            }

        }    