.suscribirse{
    //Para centrar el texto dentro del div
    display: flex;
    justify-content: center;
    align-items: center;

        &__palabra{
            writing-mode: vertical-rl;
            font-family: $secondary-fonts;
            font-weight: $weigth-font-bold;
            font-size: $font-small;

            text-align: center;
            margin: 0;
        }
}

 /////////////VERSION DE ESCRITORIO///////////////   
        @include respond-to($bp-xl-desktop){
            .suscribirse{
                &__palabra{
                    font-size: $font-x-large;
                }
            }
        }