.suscribirse{
    //Para centrar el texto dentro del div
    display: flex;
    justify-content: center;
    align-items: center;

        &__palabra{
            writing-mode: vertical-rl;
            font-family: $secondary-fonts;
            font-weight: $weigth-font-bold;
            text-align: center;
        }
}


        @include respond-to($bp-xl-desktop){

            }